// put global styles here
* {
  font-family: 'Merriweather;', serif;
}

.gold-boi {
  background-color: #a98760;
}
.gold-text {
  color: #a98760;
}
html {
  background: url("/images/whitehouse_fade.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  background-size: cover;
}

.video-frame {
  width: 400px;
  height: 300px;
  overflow: hidden;
}
.rump-zoom {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("/images/trump.jpg");
  background-position: center;
  background-size: cover;
  transition: all 3s;
}

.video-frame:hover .rump-zoom,
.video-frame:focus .rump-zoom {
  transform: scale(3) translate(-130px, -50px);
}

.video-frame:hover .rump-zoom:before, .video-frame:focus .rump-zoom:before {
    display: block;
}
